/* 2021-02-07 https://reactjs.org/docs/create-a-new-react-app.html#create-react-app */
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
	margin: 0;
}
code {font-family: source-code-pro, Menlo, Monaco, Consolas;}