/* 2021-02-07 https://reactjs.org/tutorial/tutorial.html#setup-option-2-local-development-environment */
body {font: 14px 'Century Gothic', Futura, sans-serif; margin: 20px;}
ol, ul {padding-left: 30px;}
.board-row:after {clear: both; content: ''; display: table;}
.status {margin-bottom: 10px;}
.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}
.square:focus {outline: none;}
.kbd-navigation .square:focus {background: #ddd;}
/* 2021-02-09
"When someone wins, highlight the three squares that caused the win": https://github.com/flat0/react-tic-tac-toe/issues/5 */
.square.won {background: pink;}
.game {display: flex; flex-direction: row;}
.game-info {margin-left: 20px;}
/* 2021-02-08 "Bold the currently selected item in the move list": https://github.com/flat0/react-tic-tac-toe/issues/2
2021-02-09
"Add a toggle button that lets you sort the moves in either ascending or descending order":
https://github.com/flat0/react-tic-tac-toe/issues/4 */
.game-info > ol > li.last > button {font-weight: bold;}